@import url('https://fonts.googleapis.com/css2?family=Momo+Trust+Display&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* Inclui padding e border na largura e altura totais */
}

#card {
    background-color: #ffffff; /* Cor de fundo branca */
    border-radius: 20px; /* Bordas arredondadas */
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1); /* Sombra suave */
    padding: 40px; /* Espaçamento interno */
    max-width: 350px; /* Largura máxima do card */
    text-align: center; /* Centraliza o texto */
}

body {
    background: linear-gradient(135deg, #5179e7 0%, #e6ecff 100%); /* Gradiente de fundo */
    display: flex; /* Define um contêiner flexível */
    justify-content: center; /* Centraliza o conteúdo horizontalmente */
    align-items: center; /* Centraliza o conteúdo verticalmente */
    height: 100vh; /* Altura total da viewport */
}


/* Estilo para o título */
h2 {
    font-family: 'Momo Trust Display', cursive;
    color: rgb(27, 27, 31);
    text-align: center;
}

/* Estilo para o parágrafo */
p {
    font-size: 12px; /* Tamanho da fonte */ 
    line-height: 1.5; /* Espaçamento entre linhas */
    text-align: justify; /* Alinhamento do texto */
    font-family: Arial, Helvetica, sans-serif;
}

/* Estilo para as imagens */
img {
    display: block; /* Faz a imagem ocupar uma linha inteira */
    margin: 20px auto; /* Centraliza a imagem horizontalmente */
    border-radius: 50%; /* Deixa a imagem circular */
    width: 150px; /* Largura da imagem */
    height: 150px; /* Altura da imagem */
}

img:hover{
    transform: scale(1.05);  /*Aumentar levemente a imagem ao passar o mouse*/
    transition: transform 0.3s ease; /*Animmação suave*/
}
.foto-legenda {
    font-size: 12px;
    font-style: italic;
    text-align: center;
}