body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

header, footer {
  background-color: #1e90ff;
  color: white;
  text-align: center;
  padding: 20px;
}
@media (max-width: 768px){
    .container{
    display: flex;
    justify-content: space-between;
    padding: 20px;
    height: 70vh;
    align-items: center;
    background-color: azure;
}
}
.box{
    background-color: aquamarine;
    padding: 20px;
    width: 30%;
    text-align: center;
    border: 2px solid;

}
